html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 2em;
}

h2,
h3 {
  font-size: 2em;
  margin: 0px;
  margin-bottom: 20px;
}

/* guide-bar */
.guide-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #eee;
}

.guide-bar-page-buttons {
  top: 0;
  left: 0;
  height: 30px;
  background-color: rgb(43, 43, 43);
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}


.guide-bar-page-buttons::-webkit-scrollbar {
  display: none;
}


.guide-bar-button {
  flex-shrink: 0;
  cursor: pointer;
  width: 75px;
  font-size: 13px;
  margin: 0px;
  border: none;
  background-color: rgb(154, 154, 154);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: inset 0px -2px 10px -5px black;
}

.guide-bar-button.active {
  background-color: #eee;
  box-shadow: none;
}

.apis {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.api-input {
  font-size: 11px;
  height: 16px;
  padding: 0px;
  border: 0px;
  width: 100%;
}

.material-symbols-outlined#open-ai-api-toggle-btn {
  font-size: 20px;
  margin: 5px;
  font-variation-settings: 'OPSZ' 20;
  cursor: pointer;
}

.chat-history {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px;
  cursor: pointer;
}

.chat-history.active {
  background-color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  cursor: default;
}

.chat-history-headshot {
  height: 100%;
}

.chat-history-headshot img {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.chat-history-name {
  flex-grow: 1;
  max-height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;
}

.chat-history-name h4 {

  margin: 0;
}

.chat-history-name p4 {
  margin: 0;
  font-size: 14px;
}

/* chat */

.chatbot-container,
.roleplay-container,
.edit-container {
  position: relative;
  height: 100%;
  margin-left: 200px;
}

.chatbot,
.edit,
.roleplay {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.chatbot-header,
.edit-header,
.roleplay-header {
  /* display: none; */
  text-align: center;
  margin-bottom: 20px;
}

.chatbot-messages,
.edit-messages {
  height: 100%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 50px;
  overflow-y: scroll;
}

.chatbot-messages::-webkit-scrollbar,
.edit-messages::-webkit-scrollbar {
  display: none;
}

.chatbot-message {
  padding: 20px;
  max-width: 100%;
  align-self: flex-start;
  background-color: #f1f0f0;
  border: rgb(203, 203, 203);
  border-width: 0px;
  border-top-width: 0.5px;
  border-style: solid;
}

.user-message {
  padding: 20px;
  max-width: 100%;
  align-self: flex-start;
  background-color: #ffffff;
  border: rgb(203, 203, 203);
  border-width: 0px;
  border-top-width: 0.5px;
  border-style: solid;
}

.end-message {
  margin-bottom: 120px;
}

.chatbot-input {
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  height: auto;
}

.chatbot-input textarea {
  font-size: medium;
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  resize: none;
  max-height: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.chatbot-input button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}


.chatbot-input button:hover {
  background-color: #3e8e41;
}

/* roleplay */


/* roleplay-survey */

.roleplaybot-personality {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f1f1f1;
  padding: 0px;
  border-radius: 25px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(170, 170, 170);
}

.roleplaybot-personality button {
  background-color: #ccc;
  color: #000;
  border: none;
  border-radius: 25px;
  padding: 0px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.roleplaybot-personality button:hover {
  background-color: #aaa;
}

.roleplaybot-personality-survey {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30%;
  height: 90%;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
}

.roleplaybot-personality-content {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0px;
  width: 100%;
  height: auto;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

label {
  margin-bottom: 0.5em;
}

.choices {
  margin-bottom: 1em;
}

.other-text,
textarea {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  font-size: 1em;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.5em;
}

button[type="submit"] {
  padding: 0.5em 1em;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}


button[type="submit"]:disabled {
  background-color: #c9c9c9;
  cursor: not-allowed;
}

/* roleplay-survey warning message */

/* The warning message box */
#warning-modal {
  display: none;
  /* Hide the warning message box by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Warning message box content */
.warning-modal-content {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
}

/* Warning message box title */
.warning-modal-title,
.warning-modal-text {
  text-align: left;
}

/* Warning message box close button */
.warning-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  margin-top: -20px;
  margin-right: -20px;
}

.warning-modal-close:hover,
.warning-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Warning message box buttons */
.warning-modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.warning-modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 48%;
}

.warning-modal-buttons button:focus {
  outline: none;
}

.warning-modal-buttons #warning-cancel-btn {
  background-color: #ccc;
  color: #000;
}

.warning-modal-buttons #warning-cancel-btn:hover {
  background-color: #aaa;
}

.warning-modal-buttons #warning-submit-btn {
  background-color: #4CAF50;
  color: #fff;
}

.warning-modal-buttons #warning-submit-btn:hover {
  background-color: #3e8e41;
}

/* edit */

.edit-input {
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  height: auto;
}

.edit-input textarea {
  font-size: medium;
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  resize: none;
  max-height: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.edit-input button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}


.edit-input button:hover {
  background-color: #3e8e41;
}

p {
  margin: 0px;
}

textarea {
  height: auto;
}

pre {
  background-color: #252525;
  border-radius: 6px;
  padding: 10px;
  margin: 0px;
  overflow-x: auto;
}

code {
  font-family: Söhne Mono, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 0.875em
}

/* Style for Python code blocks */
pre code.language-python {
  color: #ffffff;
}

/* Style for JavaScript code blocks */
pre code.language-javascript {
  color: #ffffff;
}

.audio-message {
  display: flex;
  align-items: center;
}

.audio-text {
  display: flex;
  align-items: center;
  margin-top: 20px;
  ;
}

/* Styles for small screens */
@media screen and (max-width: 767px) {
  .guide-bar {
    display: none;
  }

  .chatbot-container,
  .roleplay-container,
  .edit-container {
    margin-left: 0px;
  }
}

/* Styles for large screens */
@media screen and (min-width: 768px) {
  
}