html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.guide-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #eee;
}

/* Adjust the left margin of the container to create space for the guide bar */
.chatbot-container {
    position: relative;
    height: 100%;
  margin-left: 200px;
}

.chatbot {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

.chatbot-header {
	text-align: center;
	margin-bottom: 20px;
}

.chatbot-messages {
	height: 100%;
    width: 80%;
    margin-bottom: 50px;
	overflow-y: scroll;
}

.chatbot-messages::-webkit-scrollbar {
  display: none;
}

.chatbot-message {
	padding: 20px;
	max-width: 100%;
	align-self: flex-start;
}

.chatbot-message:last-child {
	align-self: flex-end;
    margin-bottom: 150px;
}

.chatbot-message:nth-child(even) {
    background-color: #ffffff;
  }
  
  .chatbot-message:nth-child(odd) {
    background-color: #f1f0f0;
  }
  

.chatbot-input {
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    height: auto;
}

.chatbot-input textarea {
    font-size: medium;
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    resize: none;
    /* height: auto; */
    max-height: 200px;
}

.chatbot-input button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}


p {
    margin: 1px;
}

textarea {
    height: auto;
  }


@media screen and (max-width: 700px) {
    .guide-bar {
      display: none;
    }
    .chatbot-container {
        position: relative;
        height: 100%;
      margin-left: 0px;
    }
    
  }